/* sidebar */
/*
.thunar .sidebar .view {
	background-color: #f53c3c;
}
*/

/* main view */
/*
.thunar .standard-view .view {
	background-color: #22272e;
}
*/

/* status bar */
/*
.thunar grid paned grid  {
background-color: yellow;
}
*/

/* toolbar */
/*
.thunar toolbar, .thunar toolbar entry  {
background-color: green;
}
*/
